<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>关于我们</title>
</head>
<body>
<header class="header">
    <div class="container clearfix">
        <div class="logo">
            <a href=""><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="top-right clearfix">
            <ul class="topnav clearfix">
                <li>
                    <a href="/">首页</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                            <li>
                                <a href="">关于我们</a>
                            </li>
                            <li>
                                <a href="">产品服务</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/about">关于我们</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                            <li>
                                <a href="">企业简介</a>
                            </li>
                            <li>
                                <a href="">发展历程</a>
                            </li>
                            <li>
                                <a href="">组织构架</a>
                            </li>
                            <li>
                                <a href="">资质荣誉</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/news">新闻中心</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                            <li>
                                <a href="">企业新闻</a>
                            </li>
                            <li>
                                <a href="">媒体聚焦</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/service">经营业务</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                            <li>
                                <a href="">系统集成</a>
                            </li>
                            <li>
                                <a href="">机电养护</a>
                            </li>
                            <li>
                                <a href="">产品信息</a>
                            </li>
                            <li>
                                <a href="">网络信息</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/solve">解决方案</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                            <li>
                                <a href="">智慧交通</a>
                            </li>
                            <li>
                                <a href="">工程施工</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="">高效协作</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/construction">党群建设</a>
                    <div class="submenu">
                        <ul>
                            <li class="none"></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>



</header>

<div>
        <div class="section ">
            <div class="container">
                <h1 class="title">企业简介</h1>
                <div class="about-us">
                    <p>&emsp;&emsp;关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们</p>
                </div>
                <div class="us">
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">50</div>
                            <div class="unit">项</div>
                        </div>
                        <div class="zh">国家专利</div>
                        <div class="en">NATIONAL PATENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">技术沉淀</div>
                        <div class="en">SEDIMENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">运营经验</div>
                        <div class="en">EXPERIENCE</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">90</div>
                            <div class="unit">人</div>
                        </div>
                        <div class="zh">研发团队</div>
                        <div class="en">TEAM</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section ">
            <div class="container">
                <h1 class="title">发展历程</h1>
                <div class="about-us">
                    <p>&emsp;&emsp;关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们</p>
                </div>
                <div class="us">
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">50</div>
                            <div class="unit">项</div>
                        </div>
                        <div class="zh">国家专利</div>
                        <div class="en">NATIONAL PATENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">技术沉淀</div>
                        <div class="en">SEDIMENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">运营经验</div>
                        <div class="en">EXPERIENCE</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">90</div>
                            <div class="unit">人</div>
                        </div>
                        <div class="zh">研发团队</div>
                        <div class="en">TEAM</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section ">
            <div class="container">
                <h1 class="title">组织框架</h1>
                <div class="about-us">
                    <p>&emsp;&emsp;关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们</p>
                </div>
                <div class="us">
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">50</div>
                            <div class="unit">项</div>
                        </div>
                        <div class="zh">国家专利</div>
                        <div class="en">NATIONAL PATENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">技术沉淀</div>
                        <div class="en">SEDIMENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">运营经验</div>
                        <div class="en">EXPERIENCE</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">90</div>
                            <div class="unit">人</div>
                        </div>
                        <div class="zh">研发团队</div>
                        <div class="en">TEAM</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section ">
            <div class="container">
                <h1 class="title">资质荣誉</h1>
                <div class="about-us">
                    <p>&emsp;&emsp;关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们</p>
                </div>
                <div class="us">
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">50</div>
                            <div class="unit">项</div>
                        </div>
                        <div class="zh">国家专利</div>
                        <div class="en">NATIONAL PATENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">技术沉淀</div>
                        <div class="en">SEDIMENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">10</div>
                            <div class="unit">年</div>
                        </div>
                        <div class="zh">运营经验</div>
                        <div class="en">EXPERIENCE</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                            <div class="num">90</div>
                            <div class="unit">人</div>
                        </div>
                        <div class="zh">研发团队</div>
                        <div class="en">TEAM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <div class="container clearfix">
        <div class="footer-container">
            <div class="news bottom">
                <ul>
                    <h3>新闻中心</h3>
                    <li><a href="/news">企业新闻</a></li>
                    <li><a href="/news">媒体聚焦</a></li>
                </ul>
            </div>
            <div class="bus bottom">
                <ul>
                    <h3>经营业务</h3>
                    <li>
                        <a href="/service">系统集成</a>
                    </li>
                    <li>
                        <a href="/service">机电养护</a>
                    </li>
                    <li>
                        <a href="/service">产品信息</a>
                    </li>
                    <li>
                        <a href="/service">网络信息</a>
                    </li>
                </ul>
            </div>
            <div class="obj bottom">
                <ul>
                    <h3>解决方案</h3>
                    <li><a href="/solve">智慧交通</a></li>
                    <li><a href="/solve">工程施工</a></li>
                </ul>

            </div>
            <div class="other bottom">
                <ul>
                    <li>版权所有：湖北楚天数科有限公司</li>
                    <li>ICP备案号：鄂ICP备88888888号</li>
                    <li>办公地址：洪山区珞瑜东路东湖广场宽tang1楼，电话：027-88888888，传真：027-88888888</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>