<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楚天高速</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="header">
        <div class="container clearfix">
            <div class="logo">
            <a href=""><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="top-right clearfix">
        <ul class="topnav clearfix">
            <li>
                <a href="/">首页</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                        <li>
                            <a href="">关于我们</a>
                        </li>
                        <li>
                            <a href="">产品服务</a>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/about">关于我们</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                        <li>
                            <a href="">企业简介</a>
                        </li>
                        <li>
                            <a href="">发展历程</a>
                        </li>
                        <li>
                            <a href="">组织构架</a>
                        </li>
                        <li>
                            <a href="">资质荣誉</a>
                        </li>
                        <li>
                            <a href="">联系我们</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/news">新闻中心</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                        <li>
                            <a href="">企业新闻</a>
                        </li>
                        <li>
                            <a href="">媒体聚焦</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/service">经营业务</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                        <li>
                            <a href="">系统集成</a>
                        </li>
                        <li>
                            <a href="">机电养护</a>
                        </li>
                        <li>
                            <a href="">产品信息</a>
                        </li>
                        <li>
                            <a href="">网络信息</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/solve">解决方案</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                        <li>
                            <a href="">智慧交通</a>
                        </li>
                        <li>
                            <a href="">工程施工</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">高效协作</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/construction">党群建设</a>
                <div class="submenu">
                    <ul>
                        <li class="none"></li>
                    </ul>
                </div>
            </li>
        </ul>
        </div>
        </div>

        

    </header>
    
    <div class="banner">
      <div id="wrap">
      <!-- 图片列表 -->
      <div class="img-list">
        <img src="/img/banner.jpg" />
        <img src="/img/banner.jpg" />
        <img src="/img/banner.jpg" />

      </div>

      <!-- 小箭头 -->
      <div class="arrow">
        <a href="javascript:;" class="left"><</a>
        <a href="javascript:;" class="right">></a>
      </div>

      <!-- 小圆点 -->
      <ul class="circle-list">
        <li class="circle active" data-n="0"></li>
        <li class="circle" data-n="1"></li>
        <li class="circle" data-n="2"></li>

      </ul>
    </div>

        <script src="/js/index.js" type="text/javascript"></script>
        

    </div>
    <div>
        <div class="section ">
            <div class="container">

                <h1 class="title">关于我们</h1>
                <div class="about-us text">
                    <p>关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于们关于我们关于我们关于我们关于我们关于我们</p>
                </div>
                <div class="us">
                    <div class="text">
                        <div class="up clearfix">
                        <div class="num">50</div>
                        <div class="unit">项</div>
                        </div>
                        <div class="zh">国家专利</div>
                        <div class="en">NATIONAL PATENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                        <div class="num">10</div>
                        <div class="unit">年</div>
                        </div>
                        <div class="zh">技术沉淀</div>
                        <div class="en">SEDIMENT</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                        <div class="num">10</div>
                        <div class="unit">年</div>
                        </div>
                        <div class="zh">运营经验</div>
                        <div class="en">EXPERIENCE</div>
                    </div>
                    <div class="text">
                        <div class="up clearfix">
                        <div class="num">90</div>
                        <div class="unit">人</div>
                        </div>
                        <div class="zh">研发团队</div>
                        <div class="en">TEAM</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section">
            <div class="container clearfix">
                <h1 class="title">服务体系</h1>
                <div class="svc container">
                    <div class="svc-img first">
                        
                        <div class="img ">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通智慧交通</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                    <div class="svc-img nd">
                        
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sit?</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                    <div class="svc-img ra">
                        
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sit?</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                    <div class="svc-img last">
                        
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sit?</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h1 class="title">科技创新</h1>
                <div class="tec-container">
                    <div class="tec-img img1" id="img1">
                        
                        <div class="img" >
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>智慧交通智慧交通智慧交通智慧交通</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                    <div class="tec-img img2" id="img2">
                        
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>智慧交通智慧交通智慧交通智慧交通</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>
                    <div class="tec-img img3" id="img3">
                        
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>智慧交通智慧交通智慧交通智慧交通</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        
                    </div>

                </div>

            </div>

            
        </div>
        <div class="section">
            
                <div class="container">
                <h1 class="title">高效协作</h1>
                <div class="coop-container">
                    <div class="coop-img">
                        
                        
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        
                    </div>
                    <div class="coop-img">
                        
                        
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        
                    </div>
                    <div class="coop-img">
                        
                        
                        <div class="introduction">
                        <div class="subtitle">
                        <h2>智慧交通</h2>
                        </div>
                        <div class="text">
                        <p>高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作高效协作</p>
                        </div>
                        <div class="learn-more"><a href="">了解更多»</a></div>
                        </div>
                        <div class="img">
                        <img src="/img/homepage03.jpg" alt="">
                        </div>
                        
                    </div>

                    
                </div>
                </div>
        </div>
        <div class="section">
            <div class="container">
                <h1 class="title">联系我们</h1>
                <div class="contact-container">
                    <div class="contact">
                        <div class="subtitle">地址</div>
                        <div class="icon">
                            <img src="/img/address.png" alt="">
                        </div>
                        <div class="text">
                            <p>武汉市洪山区珞瑜东路</p>
                            <p>东湖广场宽棠</p>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="subtitle">电话</div>
                        <div class="icon">
                            <img src="/img/telephone.png" alt="">
                        </div>
                        <div class="text">
                            <p>027-114-514</p>
                            <p>1145141919810</p>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="subtitle">微信/邮箱</div>
                        <div class="icon">
                            <img src="/img/email.png" alt="">
                        </div>
                        <div class="text">
                            <p>微信：114514</p>
                            <p>EMAIL：tadokoro@kouji.com</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="footer">
        <div class="container clearfix">
            <div class="footer-container">
                <div class="news bottom">
                    <ul>
                        <h3>新闻中心</h3>
                        <li><a href="/news">企业新闻</a></li>
                        <li><a href="/news">媒体聚焦</a></li>
                    </ul>
                </div>
                <div class="bus bottom">
                    <ul>
                        <h3>经营业务</h3>
                        <li>
                            <a href="/service">系统集成</a>
                        </li>
                        <li>
                            <a href="/service">机电养护</a>
                        </li>
                        <li>
                            <a href="/service">产品信息</a>
                        </li>
                        <li>
                            <a href="/service">网络信息</a>
                        </li>
                    </ul>
                </div>
                <div class="obj bottom">
                    <ul>
                        <h3>解决方案</h3>
                        <li><a href="/solve">智慧交通</a></li>
                        <li><a href="/solve">工程施工</a></li>
                    </ul>

                </div>
                <div class="other bottom">
                    <ul>
                        <li>版权所有：湖北楚天数科有限公司</li>
                        <li>ICP备案号：鄂ICP备88888888号</li>
                        <li>办公地址：洪山区珞瑜东路东湖广场宽tang1楼，电话：027-88888888，传真：027-88888888</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>